__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
/data/historical_data/*
!/data/historical_data/.gitkeep
logs/
models/*.joblib
models/*.pkl
!models/.gitkeep
python_smc_ml_robot/models/*.pkl
python_smc_ml_robot/logs/*
python_smc_ml_robot/data/historical_data/*
!python_smc_ml_robot/models/.gitkeep
!python_smc_ml_robot/logs/.gitkeep
!python_smc_ml_robot/data/historical_data/.gitkeep
*.png
.idea/
.vscode/
